<div class = "row">
  <div class = "col-xs-12">

    <form [formGroup]="recipeForm" (ngSubmit)="formSubmit()">

      <div class = "row">
        <div class = "col-xs-12">
            <button type = "submit" class = "btn btn-primary" [disabled]="!recipeForm.valid">Submit</button>
            <button type = "button" class = "btn btn-danger" (click) = "onCancel()">Cancel</button>
        </div>
      </div>

      <div class = "row">
        <div class = "col-xs-12">
          <div class ="form-group">
            <label for="name">Name</label>
            <input
                type = "text"
                id = "name"
                formControlName="name"
                class = "form-control">
          </div>
        </div>
      </div>

      <div class = "row">
        <div class = "col-xs-12">
          <div class ="form-group">
            <label for="imgpath">Image path</label>
            <input
              type = "text"
              id = "imgPath"
              formControlName="imgPath"
              class = "form-control"
              #imgPath>
          </div>
        </div>
      </div>


      <div class = "row">
        <div class= "col-xs-12">
          <img [src]="imgPath.value" class = "img-responsive">
        </div>
      </div>

      <div class = "row">
        <div class = "col-xs-12">
          <div class ="form-group">
            <label for="description">Description</label>
            <textarea
              type = "text"
              id = "Description"
              formControlName="description"
              class = "form-control"
              rows="6"></textarea>
          </div>
        </div>
      </div>

      <div class = "row">
        <div class = "col-xs-12" formArrayName = "ingredients">
          <div
            class = "row"
            *ngFor = " let recipeIngredients of recipeForm.get('ingredients').controls; let i = index"
            [formGroupName] = "i" >
            <div class = ""col-xs-8>
              <input
                type = "text"
                class = "form-control"
                formControlName="name">
            </div>
            <div class = "col-xs-2">
              <input
                type = "number"
                class = "form-control"
                formControlName="amount">
            </div>
            <div class = "col-xs-2">
              <button type = "button" class = "btn btn-danger" (click)="removeIngredient(i)" >X</button>
            </div>
          </div>
        </div>
      </div>
      <div class = "row">
        <div class = "col-xs-3">
          <button type = "button" class = "btn btn-primary" (click) = "addIngredients()">Add Ingredients</button>
        </div>
      </div>

    </form>

  </div>
</div>
